sec3_fundamentos/node_modules/
sec3_fundamentos/package-lock.json
sec4_calculadora/node_modules/
sec4_calculadora/package-lock.json
sec5_campo/node_modules/
sec5_campo/package-lock.json
sec6_navigation/node_modules/
sec6_navigation/package-lock.json
sec7_cadastro/node_modules/
sec7_cadastro/package-lock.json
sec8_tasksoffline/node_modules/
sec8_tasksoffline/package-lock.json
sec9_backendtasks/node_modules/
sec9_backendtasks/package-lock.json
sec9_backendtasks/.env
tasks/node_modules/
tasks/package-lock.json
tasks/.env
node_modules/
package-lock.json
.env